flows
[{"id":"d0fa69e3.5cba48","type":"inject","z":"8f4062ff.96cf8","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["b2a70caa.864ca"]]},{"id":"d839043a.63b778","type":"debug","z":"8f4062ff.96cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":80,"wires":[]},{"id":"6c1b80d.20ea58","type":"http request","z":"8f4062ff.96cf8","name":"Kurs PB","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.privatbank.ua/p24api/pubinfo?exchange&coursid=11","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":80,"wires":[["560bd8e9.b95818"]]},{"id":"560bd8e9.b95818","type":"xml","z":"8f4062ff.96cf8","name":"","property":"payload","attr":"","chr":"","x":670,"y":80,"wires":[["98bbdec1.592e8"]]},{"id":"98bbdec1.592e8","type":"function","z":"8f4062ff.96cf8","name":"Get kurs USD","func":"var kurs_usd;\n\nfor (var i = 0; i < msg.payload.exchangerates.row.length; i++) {\n    if (msg.payload.exchangerates.row[i].exchangerate[0].$.ccy == 'USD') {\n        kurs_usd = 'buy - ' + msg.payload.exchangerates.row[i].exchangerate[0].$.buy + ' sale - ' + msg.payload.exchangerates.row[i].exchangerate[0].$.sale;\n    }\n}\n\nmsg.HW1 = kurs_usd;\nmsg.DateHW2 = new Date().toUTCString();\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":80,"wires":[["d839043a.63b778"]]},{"id":"b2a70caa.864ca","type":"function","z":"8f4062ff.96cf8","name":"Set DateHW1","func":"msg.DateHW1 = new Date(msg.payload).toUTCString();\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":80,"wires":[["6c1b80d.20ea58"]]}]
